version: '3.8'

services:
  db:
    image: mariadb:11.7
    container_name: nc_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD: nextcloud
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - nextcloud

  app:
    image: nextcloud:32
    container_name: nc_app
    restart: always
    ports:
      - "8080:80"
    environment:
      MYSQL_HOST: db
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD: nextcloud
      NEXTCLOUD_ADMIN_USER: admin
      NEXTCLOUD_ADMIN_PASSWORD: admin
      NEXTCLOUD_TRUSTED_DOMAINS: localhost
    volumes:
      - nextcloud_data:/var/www/html
      - ./:/var/www/html/custom_apps/crm:ro
    depends_on:
      - db
    networks:
      - nextcloud

volumes:
  db_data:
  nextcloud_data:

networks:
  nextcloud:
